body{margin:0;
	padding:0;
	background: url(../img/unad.jpg)no-repeat fixed center center ;
	}

body {
        font-family: 'Franklin Gothic Heavy', arial;
        font-size: 18px;
        text-shadow: 4px 4px 4px #aaa;
      }


#primero{
	border-radius: 5px;
	background-color: #B3B3B3;
	height:150px;
	margin: 0 auto;
	width: 1200px;
	padding: 1em;
	text-align: justify;

}
#segundo{
	border-radius: 5px;
	background-color: #B3B3B3;
	height:260px;
	margin: 0 auto;
	width: 1200px;
	padding: 1em;
	text-align: justify;
	
}

#widgets{
	border: 80px; 
	width: 450px;
	padding: 500px;
	margin-top: 500px;
	margin-left: -60px;
	text-align: justify;
	position: absolute;
	
}

section{
	text-orientation: center;
	padding: 0,7em;
}

h2,h3{
	padding: 1em;
	background-color: #005883;
	height:28px;
	margin: 0 auto;
	width: 1200px;
	color: white;
	border-radius: 8px;
}

ul{
	border-radius: 8px;
	background-color: #F0B429;
	height:125px;
	margin-left: 70px;
	width:280px;
	
}



h1, h4{
	padding: 1em;
	background-color: #005883;
	height:70px;
	margin: 0 auto;
	width: 1200px;
	color: white;
	border-radius: 8px
}
